body,
html {
    height: 100%;
    width: 100%;
}

#myCenter {
    background: rgb(196, 158, 240);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .top {
        flex: 1;
        overflow-x: hidden;
    }
    .bottom {
        height: 0.7rem;
    }
    .myhead {
        display: flex;
        height: 1.33rem;
        padding: 0.27rem 0 0.27rem 0.53rem;
        .img {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
        }
        div {
            flex: 1;
            text-align: center;
            margin-top: 0.13rem;
            span {
                text-align: center;
                color: white;
            }
            button {
                height: 0.4rem;
                width: 1.33rem;
                margin-top: 0.13rem;
                border: 0;
                border-radius: 0.13rem;
            }
        }
        i {
            color: white;
            font-size: 0.33rem;
            margin-right: 0.2rem;
        }
    }
    .order {
        margin-bottom: 0.13rem;
        ul {
            background: white;
            display: flex;
            padding: 0.13rem;
            li {
                position: relative;
                flex: 1;
                text-align: center;
                i {
                    font-size: 0.27rem;
                    color: rgb(102, 10, 207);
                }
                span {
                    font-size: 0.19rem;
                }
                .number {
                    position: absolute;
                    width: 0.2rem;
                    height: 0.2rem;
                    line-height: 0.2rem;
                    border-radius: 50%;
                    background: red;
                    top: -0.08rem;
                    right: 0.32rem;
                    color: white;
                    font-size: 0.13rem;
                }
            }
        }
    }
    .receiving,
    .introduce {
        a.mint-cell {
            padding: 0 0.1rem;
            .mint-cell-wrapper {
                border-bottom: 0.01rem solid #ccc;
                padding: 0;
                line-height: 0.64rem;
                .mint-cell-allow-right::after {
                    font-size: 0.27rem;
                    width: 0.1rem;
                    height: 0.1rem;
                }
                .mint-cell-title {
                    vertical-align: middle;
                    i {
                        float: left;
                        font-size: 0.23rem;
                        color: rgb(196, 158, 240);
                    }
                    span {
                        margin: 0 0.1rem;
                        float: left;
                    }
                }
            }
        }
    }
    .introduce {
        margin-top: 0.13rem;
    }
    .quit {
        padding: 0.1rem;
        background: white;
        .mint-button {
            display: block;
            width: 100%;
        }
        .mint-button--primary{
            background: rgb(102, 10, 207);
        }
    }
    
}