$hsize:0.7rem;
$fontsize:0.25rem;
$fontsize1:0.2rem;
.category_cen{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  .top{
    height: $hsize;
    .mint-header{
      height: $hsize;
      background: #26a2ff;
      h1{
        font-size: $fontsize;
        margin: 0;
      }
    }
  }

  .menu{
    flex: 1;
    overflow-x: hidden;
    font-size: $fontsize1;
    // background: #ccc;
    display: flex;
    .left{
      width: 1.4rem;
      background: rgb(240, 237, 237);
      li:first-child {
        background: #fff;
      }
      li{
        height: $hsize;
        background: rgb(240, 237, 237);
        line-height: $hsize;
        list-style-type:none;
        text-align: center;
        // padding-left:0.27rem;
      }
    }
    .right{
      flex: 1;
      overflow-x: hidden;
      position: relative;
      .rigth_child{
        position: absolute;
        bottom: 0px;
      }
      .cateBigImg{
        padding: 0.2rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .menus{
        display: flex;
        flex-wrap: wrap;
        // padding-left: 0.27rem;
        .menusItem{
          padding:0  0.27rem;
          height: 1.67rem;
          width: 33%;
          img{
            width: 0.83rem;
            height: 0.83rem;
            margin:0 auto;
          }
          span{
            height: $fontsize;
            line-height: $fontsize;
            text-align: center;
            display: block;
            // margin:0 auto;
          }
        }
      }
    }
  }
  

}
