.menu_cen {
  height: 0.7rem;
  bottom: 0;
  width: 100%;
  background: #fcf7f7;
}

.menu_cen ul {
  display: flex;
  border-top: 1px solid #ccc;
}

.menu_cen ul li {
  flex: 1;
  padding-top: 10px;
}

.menu_cen ul li i, .menu_cen ul li span {
  display: block;
  text-align: center;
  color: #444;
}

.menu_cen ul li i {
  font-size: 48px;
  margin: 0 auto;
}
