#order{
    
    table{
        width:95%;
        max-height: 500px;
        margin:30px auto;
        text-align: center;
        vertical-align: center;
        th{
            text-align: center;
            vertical-align: center;
        }
        td{
            margin:auto 0;
            text-align:center;
        }
    }
}